/* .breadcrumb-list {
	display: flex;
	margin: 20px 65px;
	width: auto;
}

.breadcrumb-item a {
	text-decoration: none;
	color: #F4EEF8;
	font-size: 20px;
}

.breadcrumb-item:not(:first-child):before {
	content: '>';
	font-family: 'Bubblegum Sans', cursive;
	font-size: 20px;
	margin: 0 10px;
	color: #F4EEF8;
} */

.breadcrumb-list {
	margin: 0 0 20px 150px;
	display: inline-block;
	list-style: none;
}
.breadcrumb-item {
	float: left;
	padding: 5px;
	background-color: rgb(250, 237, 38);
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
	position: relative;
	margin-left: -50px;
	-moz-transition: all 0.2s;
	-o-transition: all 0.2s;
	-webkit-transition: all 0.2s;
	transition: all 0.2s;
	margin-top: 3px;
}
.breadcrumb-item a {
	font-family: 'Bubblegum Sans', cursive;
	overflow: hidden;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
	-moz-transition: all 0.2s;
	-o-transition: all 0.2s;
	-webkit-transition: all 0.2s;
	transition: all 0.2s;
	text-decoration: none;
	height: 50px;
	color: rgb(250, 237, 38);
	background-color: rgb(70, 52, 78);
	text-align: center;
	min-width: 50px;
	display: block;
	line-height: 50px;
	padding-left: 52px;
	padding-right: 33.33333px;
	width: 60px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.breadcrumb-item a .icon {
	display: inline-block;
}
.breadcrumb-item a .text {
	display: none;
	opacity: 0;
}
.breadcrumb-item a:hover {
	width: 90px;
	background-color: rgb(250, 237, 38);
	color: rgb(70, 52, 78);
}
.breadcrumb-item a:hover .text {
	display: inline-block;
	opacity: 1;
}
.breadcrumb-item:first-child {
	z-index: 10;
}
.breadcrumb-item:first-child a {
	width: 50px;
	padding: 0;
	font-size: 20px;
}
.breadcrumb-item:first-child:hover {
	padding: 0;
	margin-top: 3px;
}
.breadcrumb-item:first-child:hover a {
	width: 60px;
	height: 60px;
	line-height: 60px;
}

.breadcrumb-item:last-child a {
	width: 150px;
}

.breadcrumb-item:last-child:hover a {
	width: 180px;
}