@import url('./spinner.css');
@import url('./pagination.css');

.gallery {
	border: 2px solid #f0f;
	display: flex;
	flex-direction: row;
}

.images {
	display: flex;
	justify-content: space-around;
	align-items: flex-start;
	flex-wrap: wrap;
	height: 702px;
	overflow-y: auto;
	width: 80%;
	background-color: rgb(214, 241, 239);
}

.pic-holder {
	width: 300px;
	height: 300px;
	border-radius: 2px;
	display: flex;
	align-items: center;
	justify-content: center;
	border: 1px solid #000;
	margin: 20px 0 5px;
	transition: all .25s ease;
}

.pic-holder:hover {
	border-color: rgb(128, 216, 125);
	opacity: 0.8;
}

.pic-holder a {
	display: inline-block;
	text-align: center;
}

.pic-holder img {
	vertical-align: middle;
}

.gallery-item {
	width: 300px;
}

.gallery-item-title, .gallery-item-author {
	padding: 0;
	margin: 0;
	text-align: center;
}

.gallery-item-title a, .gallery-item-author a {
	text-decoration: none;
	color: #000;
}

.gallery-item-title {
	font-family: 'Fredericka the Great', cursive;
	font-size: 20px;
}

.gallery-item-title a:hover, .gallery-item-author a:hover {
	color: rgb(92, 163, 44);
}

.gallery-item-score .rating {
	width: 120px;
	margin: 0 auto;
}

.loader {
	position: absolute;
}

.add-book {
	margin: 15px;
	width: 300px;
	height: 40px;
	cursor: pointer;
	outline-color: #aaa;
	background-color: rgb(156, 184, 31);
	border: none;
	border-radius: 5px;
	transition: background-color .25s ease,
				color .25s ease;
	font-family: 'Bubblegum Sans', cursive;
	font-size: 20px;
	letter-spacing: 1px;
}

.add-book:hover {
	background-color: rgb(17, 121, 153);
	color: #ddd;
}

.backdrop {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(0, 0, 0, 0.3);
	padding: 50px;
	z-index: 2;
}

.modal {
	border-radius: 10px;
	margin: 2% auto;
	padding: 30px;
	width: 300px;
	text-align: center;
	font-family: 'Bubblegum Sans', cursive;
	background-color: rgba(177, 62, 187, 0.9);
	color: #fff;
}

.modal-form input, .modal-form textarea {
	font-family: 'Bubblegum Sans', cursive;
	border: none;
	outline-color: #555;
	padding: 5px;
}

.modal-form p {
	margin: 0;
	padding: 5px 0;
	width: 300px;
}

.close, .add {
	margin: 20px 20px 0;
	cursor: pointer;
	width: 100px;
	height: 30px;
	outline-color: #aaa;
	background-color: rgb(156, 184, 31);
	border: none;
	border-radius: 5px;
	transition: background-color .25s ease,
				color .25s ease;
	font-family: 'Bubblegum Sans', cursive;
}

.close:hover, .add:hover {
	background-color: rgb(17, 121, 153);
	color: #ddd;
}