@import url('./spinner.css');
@import url('./pagination.css');

.gallery {
	border: 2px solid #f0f;
	display: flex;
	flex-direction: row;
}

.images {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	height: 702px;
	overflow-y: auto;
	width: 80%;
	background-color: rgb(214, 241, 239);
}

.pic-holder {
	width: 300px;
	border: 1px solid rgb(128, 0, 128); 
	border-radius: 2px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 10px 10px;
}

.pic-holder a {
	height: inherit;
}

.pic-holder img {
	vertical-align: middle;
}

.loader {
	position: absolute;
}