#app {
	height: 500px;
	width: 800px;
	margin: 30px auto;
}

#app p {
	font-family: 'Fredericka the Great', cursive;
	text-align: center;
	font-size: 24px;
	color: #F4EEF8;
}

#map {
	height: 450px;
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
	#app {
		width: 700px;
	}
}
