.menu-list {
	margin: 0;
	padding: 0;
	list-style-type: none;
	display: flex;
	justify-content: space-around;
	height: 60px;
}

.menu-item {
	margin: 0;
	padding: 0;
	transition-property: background, border, display;
	transition-timing-function: ease-in;
	transition-duration: .15s;
	position: relative;
}

.menu-item:before {
	position: absolute;
	content: "";
	display: block;
	height: 40px;
	width: 2px;
	background-color: rgba(70, 52, 78, 0.8);
	top: 10px;
	left: -1px;
	border-radius: 1px;
}

.menu-item:first-child:before {
	display: none;
}

.menu-item:hover {
	background-color: rgba(70, 52, 78, 0.8);
}

.menu-item:hover > a {
	color: rgba(250, 237, 38, .9);
}

.menu-item:hover:before {
	display: none;
}

.menu-item:hover + .menu-item:before {
	display: none;
}

.menu-item:hover > .submenu {
	display: flex;
}

.menu-item a {
	display: inline-block;
	text-decoration: none;
	color: rgb(70, 52, 78);
	margin: 0;
	padding: 22px 20px;
}

.menu-item > a {
	color: #F4EEF8;
}

.submenu {
	z-index: 11;
	position: absolute;
	top: 50px;
	left: 10px;
	list-style-type: none;
	margin: 0;
	padding: 0;
	display: none;
	justify-content: space-between;
	flex-direction: column;
	background-color: rgb(157, 141, 143);
}

.submenu-item a {
	display: inline-block;
	padding: 8px 15px;
	width: 100px;
}

.submenu-item {
	margin: 0;
	padding: 0;
	border-top: 1px solid #F4EEF8;
	transition-property: background, box-shadow;
	transition-timing-function: ease-in;
	transition-duration: .15s;
}

.submenu-item:first-child {
	border-top: none;
}

.submenu-item:hover {
	background-color: rgba(70, 52, 78, 0.9);
	border-top-color: rgba(250, 237, 38, .9);
}

.submenu-item a:hover {
	color: rgba(250, 237, 38, .9);
}

.submenu-item:hover + .submenu-item {
	border-top-color: rgba(250, 237, 38, .9);
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
	.menu-item a {
		font-size: 10px;
		padding: 25px 10px;
	}

	.submenu-item a {
		font-size: 10px;
		padding: 8px 2px;
	}
}