.pagination {
	display: flex;
	justify-content: space-around;
	margin: 20px 0;
}

.pagination li {
	margin: 0 2px;
}

.pagination a {
	display: block;
	padding: 5px 10px;
	cursor: pointer;
	outline-color: #fff;
	border: 1px solid #000; 
	border-radius: 2px;
}

.pagination a:hover {
	background-color: rgb(175, 0, 161);
	background-color: rgba(175, 0, 161, .4);
	color: #fff;
	padding: 6px 11px;
	border: none;
}
