.profile {
	display: flex;
	justify-content: center;
	width: 90%;
	margin: 20px auto;
}

.book-profile {
	color: #F4EEF8;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	align-items: flex-start;
	margin: 0;
	font-family: 'Bubblegum Sans', cursive;
	background-color: rgb(157, 141, 143);
	background-color: rgba(157, 141, 143, 0.8);
	width: 75%;
	padding: 10px;
}

.book-profile:not(:first-child) {
	flex: 1;
}

.book-title {
	font-family: 'Fredericka the Great', cursive;
	font-size: 24px;
	margin: 0;
}

.book-author {
	font-style: italic;
	margin-top: 5px;
}

.book-author a {
	margin-left: 4px;
	color: rgb(250, 237, 38);
	color: rgba(250, 237, 38, .9);
}

.book-author a:hover {
	color: rgb(219, 84, 66);
	color: rgba(219, 84, 66, .9);
}

.book-cover {
	height: 300px;
	width: 300px;
	text-align: center;
}

.book-description {
	width: 550px;
	position: relative;
	margin: 0 20px;
}

.book-description > .book-score {
	width: 200px;

}

.book-summary {
	width: 550px;
}

.read-button {
	position: relative;
	left: 230px;
	top: -42px;
	display: inline-block;
	margin: 0 15px 15px 0;
	height: 50px;
	width: 150px;
	color: #000;
	cursor: pointer;
	outline-color: #aaa;
	border-radius: 3px;
	letter-spacing: .5px;
	font-size: 20px;
	text-decoration: none;
	background-color: rgb(219, 84, 66);
	background-color: rgba(219, 84, 66, 0.8);
	text-align: center;
	line-height: 50px;
	transition: background-color .25s ease,
				color .2s ease;
}

.read-button:hover {
	background-color: rgb(70, 52, 78);
	background-color: rgba(70, 52, 78, 0.8);
	color: #F4EEF8;
}

.share-buttons {
	margin: 0 auto;
}

.share-span {
	font-size: 24px;
	margin-right: 20px;
}

.share-button {
	cursor: pointer;
	width: 48px;
	height: 48px;
	border: none;
	border-radius: 2px;
	color: #fff;
	margin: 0 10px;
	font-family: "FontAwesome";
	font-size: 24px;
	opacity: .7;
	transition: opacity .2s ease-in;
}

.share-button:hover {
	opacity: 1;
}

#tw-button {
	background-color: rgb(0, 172, 237);
}

#tw-button:before {
	content: "\f099";
}

#li-button {
	background-color: rgb(0, 119, 181);
}

#li-button:before {
	content: "\f0e1";
}

#gp-button {
	background-color: rgb(219, 68, 55);
}

#gp-button:before {
	content: "\f0d5";
}

.extra-books {
	color: #F4EEF8;
	font-family: 'Bubblegum Sans', cursive;
	font-size: 14px;
	background-color: rgb(66, 62, 0);
	background-color: rgba(66, 62, 0, .3);
	width: 25%;
}

.extra-paragraph {
	text-align: center;
	margin: 7px 0;
	font-size: 20px;
}

.extra-list {
	display: flex;
	flex-direction: column;
}

.extra-item {
	display: flex;
	align-items: flex-start;
	margin: 5px 0;
}

.extra-cover {
	margin-left: 18px;
	margin-right: 10px;
}

.extra-cover img {
	width: 80px;
	height: 100px;
}

.extra-item p {
	margin: 0 0 5px;
}

.extra-title {
	margin-top: 0;
	font-family: 'Fredericka the Great', cursive;
	font-size: 16px;
	height: 20px;
	width: 140px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

.extra-title a {
	color: #F4EEF8;
	text-decoration: none;
}

.extra-title a:hover {
	color: rgb(250, 237, 38);
	color: rgba(250, 237, 38, .9);
}

.extra-author {
	font-style: italic;
}

.extra-author a {
	margin-left: 4px;
	color: rgb(250, 237, 38);
	color: rgba(250, 237, 38, .9);
}

.extra-author a:hover {
	color: rgb(219, 84, 66);
	color: rgba(219, 84, 66, .9);
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
	.book-cover {
		margin: 0 auto;
	}

	.book-description {
		width: 50%;
	}

	.book-summary {
		width: 180%;
	}

	.read-button {
		margin-right: auto;
	}

}

@media screen and (min-width: 768px) and (max-width: 900px) {
	.book-profile {
		width: 450px;
	}

	.extra-books {
		width: 250px;
	}
}

@media screen and (min-width: 900px) and (max-width: 1200px) {
	.book-profile {
		width: 650px;
	}

	.extra-books {
		width: 350px;
	}
	
	.book-description {
		width: 50%;
	}

	.book-summary {
		width: 180%;
	}

	.read-button {
		margin-right: 5px;
	}
}