.profile {
	display: flex;
	justify-content: space-around;
	width: 90%;
	margin: 20px auto;
}

.book-profile {
	color: #F4EEF8;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	align-items: flex-start;
	margin: 0 auto;
	font-family: 'Bubblegum Sans', cursive;
	background-color: rgb(157, 141, 143);
	background-color: rgba(157, 141, 143, 0.8);
	width: 75%;
	padding: 10px;
	height: 360px;
}

.book-profile:not(:first-child) {
	flex: 1;
}

.book-title {
	font-family: 'Fredericka the Great', cursive;
	font-size: 24px;
	margin: 0;
}

.book-author {
	font-style: italic;
	margin-top: 5px;
}

.book-author a {
	margin-left: 4px;
	color: rgb(250, 237, 38);
	color: rgba(250, 237, 38, .9);
}

.book-author a:hover {
	color: rgb(219, 84, 66);
	color: rgba(219, 84, 66, .9);
}

.book-cover {
	height: 300px;
	width: 300px;
	text-align: center;
}

.book-description {
	width: 550px;
	position: relative;
	margin: 0 20px;
}

.book-summary {
	width: 550px;
}

.read-button {
	height: 50px;
	width: 150px;
	position: absolute;
	right: 0;
}

.share-buttons {
	margin: 0 auto;
}

.share-span {
	font-size: 24px;
	margin-right: 20px;
}

.share-button {
	cursor: pointer;
	width: 48px;
	height: 48px;
	border: none;
	border-radius: 2px;
	color: #fff;
	margin: 0 10px;
	font-family: "FontAwesome";
	font-size: 24px;
	opacity: .7;
	transition: opacity .2s ease-in;
}

.share-button:hover {
	opacity: 1;
}

#tw-button {
	background-color: rgb(0, 172, 237);
}

#tw-button:before {
	content: "\f099";
}

#li-button {
	background-color: rgb(0, 119, 181);
}

#li-button:before {
	content: "\f0e1";
}

#gp-button {
	background-color: rgb(219, 68, 55);
}

#gp-button:before {
	content: "\f0d5";
}

.extra-books {
	color: #F4EEF8;
	font-family: 'Bubblegum Sans', cursive;
	font-size: 14px;
	background-color: rgb(66, 62, 0);
	background-color: rgba(66, 62, 0, .3);
	width: 25%;
	height: 380px;
}

.extra-paragraph {
	text-align: center;
	margin: 7px 0;
	font-size: 20px;
}

.extra-list {
	display: flex;
	flex-direction: column;
}

.extra-item {
	display: flex;
	align-items: flex-start;
	margin: 5px 0;
}

.extra-cover {
	margin-left: 18px;
	margin-right: 10px;
}

.extra-cover img {
	width: 80px;
	height: 100px;
}

.extra-item p {
	margin: 0 0 5px;
}

.extra-title {
	margin-top: 0;
	font-family: 'Fredericka the Great', cursive;
	font-size: 16px;
	height: 20px;
	width: 180px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

.extra-title a {
	color: #F4EEF8;
	text-decoration: none;
}

.extra-title a:hover {
	color: rgb(250, 237, 38);
	color: rgba(250, 237, 38, .9);
}

.extra-author {
	font-style: italic;
}

.extra-author a {
	margin-left: 4px;
	color: rgb(250, 237, 38);
	color: rgba(250, 237, 38, .9);
}

.extra-author a:hover {
	color: rgb(219, 84, 66);
	color: rgba(219, 84, 66, .9);
}