aside {
	width: 20%;
}

.side-menu-list {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	background-color: rgb(157, 141, 143);
	background-color: rgba(157, 141, 143, 0.5);
	align-items: center;
}

.side-menu-item {
	width: 100%;
	text-align: center;	
}

.side-menu-item:after {
	content: '';
	display: block;
	width: 60%;
	height: 1px;
	position: relative;
	left: 20%;
	background-color: #F4EEF8;
}

.side-menu-item:last-child:after {
	display: none;
}

.side-menu-item a {
	display: block;
	letter-spacing: 1px;
	width: 100%;
	padding: 6px 0 5px;
	color: #F4EEF8;
	text-decoration: none;
	font-family: 'Fredericka the Great', cursive;
	font-size: 24px;
}

.side-menu-item:last-child a {
	padding-bottom: 6px;
}

.side-menu-item:first-child a {
	padding-top: 6px;
}

.side-menu-item a:hover {
	color: rgb(250, 237, 38);
	color: rgba(250, 237, 38, .9);
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
	.side-menu-item a {
		font-size: 18px;
	}
}