@import url('https://fonts.googleapis.com/css?family=Nobile:500');
@import url('https://fonts.googleapis.com/css?family=Bubblegum+Sans');
@import url('../../node_modules/font-awesome/css/font-awesome.min.css');

header {
	margin-top: 30px;
	width: 100%;
	height: 60px;
	background-color: #C71585;
	color: #fff;
	text-align: center;
	font-size: 20px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	font-family: 'Nobile', sans-serif;
	font-size: 16px;
}

.logo {
	margin: 0;
	padding: 0;
	width: 100px;
}

.menu ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
	display: flex;
	width: 400px;
	justify-content: space-between;
}

a {
	text-decoration: none;
	color: #000;
}

.searchField {
	height: 30px;
	width: 250px;
	font-family: 'Bubblegum Sans', cursive;
	font-size: 14px;
	letter-spacing: .5px;
	padding-left: 10px;
}

.signup-form {
	font-size: 14px;
}

.signup-form p {
	color: #000;
	margin: 2px 0 3px;
	padding: 0;
	margin-top: 5px;
}

.signup-form a {
	display: inline-block;
	margin: 0;
	font-size: 11px;
}

.fa-facebook-official, .fa-google-plus-square, .fa-twitter-square {
	background-color: #fff;
	width: 30px;
	height: 30px;
	border-radius: 15px;
	position: relative;
	margin: 0 5px;
}

.fa-google-plus-square:before, .fa-facebook-official:before, .fa-twitter-square:before  {
	position: absolute;
	top: 3px;
	left: 5px;
}

.fa-google-plus-square:before {
	color: #DB4437
}

.signup-form .fa-google-plus-square:hover {
	background-color: #DB4437;
}

.fa-facebook-official:before {
	color: #3b5998;
}

.signup-form .fa-facebook-official:hover {
	background-color: #3b5998;
}

.fa-twitter-square:before {
	color: #1DA1F2;
}

.signup-form .fa-twitter-square:hover {
	background-color: #1DA1F2;
}