@import url('https://fonts.googleapis.com/css?family=Nobile:500|Bubblegum+Sans|Condiment|Fredericka+the+Great');
@import url('../../node_modules/font-awesome/css/font-awesome.min.css');
@import url('./gallery.css');
@import url('./map.css');
@import url('./nav.css');
@import url('./not-found.css');
@import url('./address.css');
@import url('./side-menu.css');
@import url('./slider.css');
@import url('./carousel.css');
@import url('./profile.css');
@import url('./breadcrumbs.css');

* {
	outline-color: rgb(219, 84, 66);
}

html, body {
	min-height: 100%;
	margin: 0;
	padding: 0;
	background-color: #e1e8f0; 
	background-image: url('../img/bg.jpg');
	background-size: cover;
	background-repeat: no-repeat; 
}

header {
	margin: 20px 0;
	width: 100%;
	height: 60px;
	background-color: rgb(70, 52, 78);
	background-color: rgba(70, 52, 78, 0.5);
	text-align: center;
	display: flex;
	justify-content: space-around;
	align-items: center;
	font-family: 'Nobile', sans-serif;
	font-size: 14px;
}

.logo-anchor {
	width: 150px;
}

/* Reset default values */
ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.logo {
	margin: 0;
	padding: 0;
	width: 100px;
	height: 100px;
	position: relative;
}

header .logo {
	top: -15px;
	left: -25px;
}

footer .logo {
	top: -15px;
}

.logo img {
	transform: scaleX(-1);
}


.logo-name {
	position: absolute;
	top: 32px;
	left: 72px;
	font-size: 28px;
	color: rgb(250, 237, 38);
	color: rgba(250, 237, 38, .9);
}

.site-name {
	font-family: 'Condiment', cursive;
	letter-spacing: 1px;
}

.searchField {
	margin: 20px;
	height: 36px;
	width: 400px;
	font-family: 'Bubblegum Sans', cursive;
	font-size: 18px;
	letter-spacing: .5px;
	padding: 10px;
	border: none;
	background-image: url('../img/search.svg');
	background-repeat: no-repeat;
	background-size: 30px 30px;
	background-position: 365px 3px;
	background-color: rgba(70, 52, 78, 0.5);
	color: #F4EEF8;
}

.searchField::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #F4EEF8;
    opacity: 1; /* Firefox */
}

.searchField:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #F4EEF8;
}

.searchField::-ms-input-placeholder { /* Microsoft Edge */
    color: #F4EEF8;
}

.signup-form {
	display: flex;
	font-size: 14px;
	flex-direction: column;
}

.signup-form p {
	color: #F4EEF8;
	padding: 0;
	margin: 0 5px 0 auto;
	font-family: 'Bubblegum Sans', cursive;
	font-size: 20px;
}

.signup-form a {
	display: inline-block;
	margin: 0;
	font-size: 12px;
}	

.fa-facebook-official, .fa-google-plus-square, .fa-twitter-square {
	background-color: #fff;
	width: 32px;
	height: 32px;
	border-radius: 16px;
	position: relative;
	margin: 0 5px;
}

.fa-google-plus-square:before, .fa-facebook-official:before, .fa-twitter-square:before  {
	position: absolute;
	top: 4px;
	left: 6px;
}

.fa-google-plus-square:before {
	color: #DB4437;
}

.fa-google-plus-square:hover, .fa-twitter-square:hover, .fa-facebook-official:hover {
	opacity: .8;
}

.fa-facebook-official:before {
	color: #3b5998;
}

.fa-twitter-square:before {
	color: #1DA1F2;
}

footer {
	height: 120px;
	width: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	background-color: rgba(70, 52, 78, 0.5);
	position: relative;	
	font-family: 'Nobile', sans-serif;
	font-size: 14px;
}

footer article {
	width: 450px;
	text-align: center;
	font-size: 12px;
	line-height: 20px;
	color: #F4EEF8;
}

footer article .site-name {
	font-size: 18px;
}

.social {
	display: flex;
	width: 500px;
	min-width: 500px;
	flex-wrap: wrap;
	align-items: baseline;
	justify-content: space-around;
	font-family: 'Bubblegum Sans', cursive;
}

.social p {
	margin: 0;
	padding: 0;
	width: 100%;
	text-align: center;
	font-size: 20px;
	color: rgb(250, 237, 38);
	color: rgba(250, 237, 38, .9);
}

.social img {
	position: relative;
	top: 10px;
	height: 30px;
	width: 30px;
	margin-right: 10px;
}

.social a {
	text-decoration: none;
	height: 35px;
	color: #F4EEF8;
	font-size: 14px;
	width: 150px;
	text-align: left;
	line-height: 32px;
}

.social a:hover {
	color: rgb(219, 84, 66);
	color: rgba(219, 84, 66, 0.8);
}

.author .images {
	align-items: flex-start;
	justify-content: space-around;
	padding-left: 30px;
}
